nodered4.js
[{"id":"e34b5cda.8e882","type":"debug","z":"94872778.827408","name":"Output","active":true,"console":"false","complete":"payload","x":890,"y":280,"wires":[]},{"id":"5a1c86b3.605878","type":"debug","z":"94872778.827408","name":"2nd Output","active":true,"console":"false","complete":"payload","x":910,"y":360,"wires":[]},{"id":"72411bfd.460a14","type":"debug","z":"94872778.827408","name":"3rd Output","active":true,"console":"false","complete":"payload","x":910,"y":440,"wires":[]},{"id":"1f30500e.47cd9","type":"function","z":"94872778.827408","name":"Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["e34b5cda.8e882"]]},{"id":"adada168.32b98","type":"function","z":"94872778.827408","name":"Array in Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [[msg1, msg2, msg3, msg4]]","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["e34b5cda.8e882"]]},{"id":"412c798b.e4e518","type":"function","z":"94872778.827408","name":"Multiple returns","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];\n","outputs":"3","noerr":0,"x":360,"y":300,"wires":[["e34b5cda.8e882"],["5a1c86b3.605878"],["72411bfd.460a14"]]},{"id":"7b0548d9.8df578","type":"function","z":"94872778.827408","name":"Multiple returns array in array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, [msg2, msg3], msg4];\n","outputs":"3","noerr":0,"x":320,"y":360,"wires":[["e34b5cda.8e882"],["5a1c86b3.605878"],["72411bfd.460a14"]]},{"id":"8a272967.30dd58","type":"function","z":"94872778.827408","name":"Create JSON Object","func":"msg.payload = {\"a\" : { \"b\" : \"test\"}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["e34b5cda.8e882","112ce9d1.d59086"]]},{"id":"efc41610.dbff58","type":"function","z":"94872778.827408","name":"Create JSON String","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["e34b5cda.8e882","112ce9d1.d59086"]]},{"id":"860391c1.6dd0b","type":"function","z":"94872778.827408","name":"Create JSON String in msg.payload","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":520,"wires":[["e34b5cda.8e882","a08a9a81.05da98"]]},{"id":"6d3943a0.d07c7c","type":"function","z":"94872778.827408","name":"return string in object","func":"return {\"payload\" : \"Hello Coursera\"};","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["e34b5cda.8e882"]]},{"id":"a08a9a81.05da98","type":"json","z":"94872778.827408","name":"","x":530,"y":520,"wires":[["5a1c86b3.605878","112ce9d1.d59086"]]},{"id":"112ce9d1.d59086","type":"function","z":"94872778.827408","name":"retrieve data from Object","func":"msg.payload = msg.payload.a.b;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":430,"wires":[["72411bfd.460a14"]]},{"id":"4fa67c49.f9a7e4","type":"inject","z":"94872778.827408","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":50,"y":180,"wires":[["1f30500e.47cd9"]]},{"id":"661ff0c9.c4bcb","type":"inject","z":"94872778.827408","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":50,"y":220,"wires":[["adada168.32b98"]]},{"id":"4f12538d.a8631c","type":"inject","z":"94872778.827408","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":50,"y":300,"wires":[["412c798b.e4e518"]]},{"id":"e6dcf212.6617","type":"inject","z":"94872778.827408","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":50,"y":360,"wires":[["7b0548d9.8df578"]]},{"id":"f59b0f7.d6a6df","type":"inject","z":"94872778.827408","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":50,"y":440,"wires":[["8a272967.30dd58"]]},{"id":"7b51a2d5.18aa2c","type":"inject","z":"94872778.827408","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":50,"y":480,"wires":[["efc41610.dbff58"]]},{"id":"6d9055fb.8e2abc","type":"inject","z":"94872778.827408","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":50,"y":520,"wires":[["860391c1.6dd0b"]]},{"id":"c4d49687.81eb88","type":"inject","z":"94872778.827408","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":50,"y":80,"wires":[["6d3943a0.d07c7c"]]},{"id":"95cfac85.c8e36","type":"function","z":"94872778.827408","name":"Status and logging functions","func":"node.status({text:\"started\"});\n\nsetTimeout(function() {\n    node.status({fill:\"red\",shape:\"ring\",text:\"stage 1\"});\n    \n    setTimeout(function() {\n        node.status({fill:\"green\",shape:\"dot\",text:\"stage 2\"});\n        node.error(\"This is an error\", {'payload' : 'Caught error'});\n        \n        setTimeout(function() {\n            node.error(\"Second error\");\n            node.status({});\n            node.send({'payload' : 'Completed'});\n        }, 1000);\n        \n    }, 1000);\n    \n}, 1000);\n\nnode.warn(\"Exiting node\");\nreturn;","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["e34b5cda.8e882"]]},{"id":"efde0b4c.e4ca18","type":"inject","z":"94872778.827408","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":50,"y":580,"wires":[["95cfac85.c8e36"]]},{"id":"7b66c1ce.da3c7","type":"catch","z":"94872778.827408","name":"Catch node","scope":["95cfac85.c8e36"],"x":370,"y":620,"wires":[["93c0184.c9c28e8"]]},{"id":"5ee11c63.16c404","type":"function","z":"94872778.827408","name":"return string","func":"return 'This is a string';","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["e34b5cda.8e882"]]},{"id":"388a0ea5.218242","type":"inject","z":"94872778.827408","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":50,"y":40,"wires":[["5ee11c63.16c404"]]},{"id":"93c0184.c9c28e8","type":"debug","z":"94872778.827408","name":"entire msg","active":true,"console":"false","complete":"true","x":910,"y":520,"wires":[]}]