nodered3.js
[{"id":"4dc0d58d.98af7c","type":"http in","z":"6aaa95a9.075f7c","name":"/time","url":"/time","method":"get","swaggerDoc":"","x":110,"y":500,"wires":[["9514ccec.a1612"]]},{"id":"55b1a81f.0a6388","type":"http response","z":"6aaa95a9.075f7c","name":"http-response","x":620,"y":500,"wires":[]},{"id":"9514ccec.a1612","type":"function","z":"6aaa95a9.075f7c","name":"timemsg","func":"//context.global.msg = new Date().getTime();\n//msg.payload = new Date().toISOString()\n//msg.payload= new Date().toISOString()\nmsg.headers = {\n         \"Content-type\" : \"application/json\"}\n      \nvar now     = new Date(); \n//var year    = now.getFullYear();\n//var month   = now.getMonth()+1; \n//var day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\n\n\n//var second  = now.getSeconds(); \n//if(month.toString().length == 1) {\n//var month = '0'+month;\n//}\n//if(day.toString().length == 1) {\n//var day = '0'+day;\n//}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\n//if(second.toString().length == 1) {\n//var second = '0'+second;\n//}   \n//msg.payload = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\n//msg.payload = hour+':'+minute;\nmsg.payload = {\n  \"time\": hour+':'+minute\n}\ncontext.global.set(\"time\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":500,"wires":[["55b1a81f.0a6388","dc611167.f8491"]]},{"id":"cc162697.45d768","type":"http in","z":"6aaa95a9.075f7c","name":"/random","url":"/random","method":"get","swaggerDoc":"","x":120,"y":620,"wires":[["81db44b5.03eaa8"]]},{"id":"d4be67f1.f7aee8","type":"http in","z":"6aaa95a9.075f7c","name":"/page","url":"/page","method":"get","swaggerDoc":"","x":110,"y":720,"wires":[["10c00eb4.781071"]]},{"id":"dc611167.f8491","type":"debug","z":"6aaa95a9.075f7c","name":"","active":true,"console":"true","complete":"payload","x":740,"y":600,"wires":[]},{"id":"81db44b5.03eaa8","type":"function","z":"6aaa95a9.075f7c","name":"randomjson","func":"msg.headers = {\n         \"Content-type\" : \"application/json\"}\n\nvar now = new Date(); \nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\n\nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\n\n//data = hour+':'+minute;\nmsg.payload.randomtime = {\n  \"times\": hour+':'+minute\n}\n\nmsg.payload.random = (Math.floor(Math.random() * 100) + 1);\n//msg.payload.number = {\n//  \"random\": msg.payload.numero\n//}\nmsg.payload.tiempo = context.global.get(\"time\");\n\n\n\ncontext.global.set(\"randomtime\",msg.payload);\n//context.global.set(\"randomtime\",msg.payload.random);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":640,"wires":[["6504ebe0.574b14"]]},{"id":"10c00eb4.781071","type":"function","z":"6aaa95a9.075f7c","name":"recoverydata","func":"msg.payload = context.global.get(\"randomtime\");\n\n//msg.payload = context.global.get(\"random\");\n//msg.payload = context.global.get(\"time\");\n\n//var random = global.get(\"randomandtime\"); \n//msg.payload=JSON.parse(context.global.randomandtime);\n//msg.payload.random=JSON.stringify(context.global.randomandtime.random);\n//msg.payload.date=JSON.stringify(context.global.randomandtime.date);\n\n//msg.payload.random=context.global.randomandandtime;\n\n//msg.payload.time=context.global.time;\n\n//var aleatorio=msg.payload.random;\n//var hora=msg.payload.time;\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":720,"wires":[["2296b0e7.0bb08"]]},{"id":"6504ebe0.574b14","type":"function","z":"6aaa95a9.075f7c","name":"Filter","func":"msg.payload = {\"random\" : msg.payload.random}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":600,"wires":[["55b1a81f.0a6388","dc611167.f8491"]]},{"id":"2296b0e7.0bb08","type":"template","z":"6aaa95a9.075f7c","name":"My Mustache","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n{{#payload.tiempo.time}}\nTime last server time request received at {{payload.tiempo.time}}  \n{{/payload.tiempo.time}}\n\n{{#payload.random}}\nLast random number request returned {{&payload.random}}, which was received at {{&payload.randomtime.times}}{{/payload.random}}\n{{/payload}}\n\n{{^payload.tiempo.time}}\nNo server time requests have been received\n\n{{/payload.tiempo.time}}\n\n{{^payload.random}}\n\nNo requests for random numbers have been received\n\n{{/payload.random}}","x":490,"y":720,"wires":[["55b1a81f.0a6388","dc611167.f8491"]]}]