nodered2.js
[{"id":"c5f966e0.ec6f38","type":"template","z":"d3229fb9.15e74","name":"format html page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Drinks available on : {{payload.day}}</h1>\n\n<ul>\n{{#payload.drinks}}\n<li>{{drink}}</li>    \n{{/payload.drinks}}\n</ul>\n\n<h3>Specials:</h3> \n<hr>\n<ul>\n{{^payload.specials}}\nNone today, sorry      \n{{/payload.specials}}\n\n{{#payload.specials}}\n<li>{{drink}}</li>\n{{/payload.specials}}\n</ul>","x":450,"y":120,"wires":[["12966dbd.a933f2"]]},{"id":"cd525025.9cc9f","type":"function","z":"d3229fb9.15e74","name":"Drinks","func":"msg.payload =   \n         {'day':'Monday',\n          'drinks':[{'drink': 'coffee'}, \n                    {'drink': 'tea'}, \n                    {'drink': 'orange juice'}]\n         };\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["c5f966e0.ec6f38"]]},{"id":"f9edc3d7.f45f8","type":"function","z":"d3229fb9.15e74","name":"Specials","func":"msg.payload = \n         {'day':'Monday',\n          'drinks':[{'drink': 'coffee'}, \n                    {'drink': 'tea'}, \n                    {'drink': 'orange juice'}],\n          'specials':[{'drink': 'hot chocolate'}, \n                      {'drink': 'espresso'}]\n         };\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["c5f966e0.ec6f38"]]},{"id":"34b9ea0f.09ded6","type":"http in","z":"d3229fb9.15e74","name":"/menu","url":"/menu","method":"get","swaggerDoc":"","x":90,"y":100,"wires":[["cd525025.9cc9f"]]},{"id":"2306f86f.193fc8","type":"http response","z":"d3229fb9.15e74","name":"","x":790,"y":120,"wires":[]},{"id":"5765cf2b.32f6","type":"http in","z":"d3229fb9.15e74","name":"/specials","url":"/specials","method":"get","swaggerDoc":"","x":100,"y":140,"wires":[["f9edc3d7.f45f8"]]},{"id":"12966dbd.a933f2","type":"function","z":"d3229fb9.15e74","name":"setHTTPheader","func":"// If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"}\n\n// For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":120,"wires":[["2306f86f.193fc8"]]}]